<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>BuyGoodsServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.BuyGoodsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BuyGoodsServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/BuyGoodsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChangeBlogServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.ChangeBlogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeBlogServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/ChangeBlogServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.ChangePasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/ChangePasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChangeUserInfoServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.ChangeUserInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeUserInfoServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/ChangeUserInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteAttentionServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.DeleteAttentionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteAttentionServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/DeleteAttentionServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteBlogServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.DeleteBlogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteBlogServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/DeleteBlogServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteCommentServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.DeleteCommentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCommentServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/DeleteCommentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteMessageServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.DeleteMessageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteMessageServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/DeleteMessageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeletePreferenceServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.DeletePreferenceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeletePreferenceServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/DeletePreferenceServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteReplyServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.DeleteReplyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteReplyServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/DeleteReplyServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteUserServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.DeleteUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteUserServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/DeleteUserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchBlogServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.SearchBlogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchBlogServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/SearchBlogServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowBlogCommentServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.ShowBlogCommentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowBlogCommentServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/ShowBlogCommentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowBlogServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.ShowBlogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowBlogServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/ShowBlogServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowCommentReplyServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.ShowCommentReplyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowCommentReplyServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/ShowCommentReplyServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowFromAttentionServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.ShowFromAttentionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowFromAttentionServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/ShowFromAttentionServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowFromMessageServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.ShowFromMessageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowFromMessageServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/ShowFromMessageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowGoodsInfoServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.ShowGoodsInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowGoodsInfoServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/ShowGoodsInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowMyBillServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.ShowMyBillServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowMyBillServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/ShowMyBillServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowMyBlogInfoServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.ShowMyBlogInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowMyBlogInfoServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/ShowMyBlogInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowMyCommentServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.ShowMyCommentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowMyCommentServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/ShowMyCommentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowMyReplyServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.ShowMyReplyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowMyReplyServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/ShowMyReplyServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowPreferenceServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.ShowPreferenceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowPreferenceServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/ShowPreferenceServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowShopInfoServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.ShowShopInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowShopInfoServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/ShowShopInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowSingleBlogInfoServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.ShowSingleBlogInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowSingleBlogInfoServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/ShowSingleBlogInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowToAttentionServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.ShowToAttentionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowToAttentionServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/ShowToAttentionServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowToMessageServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.ShowToMessageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowToMessageServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/ShowToMessageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowUserInfoServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.ShowUserInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowUserInfoServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/ShowUserInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WriteAttentionServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.WriteAttentionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WriteAttentionServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/WriteAttentionServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WriteBlogServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.WriteBlogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WriteBlogServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/WriteBlogServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WriteCommentServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.WriteCommentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WriteCommentServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/WriteCommentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WriteMessageServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.WriteMessageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WriteMessageServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/WriteMessageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WritePreferenceServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.WritePreferenceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WritePreferenceServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/WritePreferenceServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WriteReplyServlet</servlet-name>
		<servlet-class>com.ladeyi.test.servlet.WriteReplyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WriteReplyServlet</servlet-name>
		<url-pattern>/com/ladeyi/test/WriteReplyServlet</url-pattern>
	</servlet-mapping>
</web-app>