html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    height: 100%;
}

.item {
    height: 100%;
}

.navBar {
    grid-column: span 2;
}

.footer {
    grid-column: span 2;
}
a {
    text-decoration: none;
    color: gray;
}
/* 上方导航栏*/
div.top {
    display: flex;
    background-color: #24292e;
    padding: 0;
}

/* 上方导航栏左部*/
#navLink {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    margin-left: 10px;
}

#navLink a {
    text-align: center;
    padding-bottom: 18px;
}

#navLink a:hover {
    background-color: white;
}

#navLink a {
    width: 50px;
}

#navBarSearch {
    width: 350px;
    border: 2px;
    border: solid;
    border-radius: 10px;
    padding: 3px;
    border-color: gray;
    background-color: rgba(59, 59, 59);
}

/* 搜索框*/
#navSearchBlogForm {
    padding: 10px;
    width: 370px;
    border-spacing: 0px;
    margin: 0px;
}
/* 导航 搜索 按钮*/
#submit {
    background-color: rgba(59, 59, 59);
    color: gray;
    outline: none;
    border-radius: 5px;
    border: transparent;
}

/* 导航 搜索栏*/
#searchField {
    background-color: rgba(59, 59, 59);
    caret-color: aliceblue;
    outline: none;
    border: transparent;
    width: 300px;
    height: 25px;

}
/* 最右边下拉导航栏*/
#dropdown {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
}

.dropbtn {
    background-color: #24292e;
    border: none;
    padding: 2px;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 100;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

#dropdown:hover .dropdown-content {
    display: block;
    top: 42px;
}

#dropdown:hover .dropbtn {
    box-shadow: 0 0 2px 0 #1074e7;
}

/* 中间 左部 blog list*/

#left {
    height: 100%;
    padding-left: 3%;
}

#createBlog {
    margin-left: 35px;
    border-radius: 5px;
    border: transparent;
    background-color: #398f3c;
    padding: 5px;
    font-size: 13px;
    color: white;
    outline: none;
}

#leftSearchBlog {
    background-color: white;
    outline: none;
    border-radius: 8px;
    border: solid gray;
    width: 200px;
    height: 25px;
}

#leftSearchBlog:focus,
#createBlog:focus {
    box-shadow: 0 0 0 2px #1074e7;
}
/*右边 */
#right{
    height: 100%;
    background: #f6f8fa;
}

.blogContent {
    margin-bottom: 20px;
}
hr {
    margin-left: 5%;
    margin-right: 5% ;
}
.blogContent .summary {
    margin-left: 30px;
    height: 300px;
}
